




RootpaneL
{
	background-color: rgba(0, 0, 0, 0.0);
}




menubase{
	pointer-events:all;
	width:100%;
	height:100%;


	opacity:1;
	transition: all .1s ease-out;
	&:intro{
		opacity:0;
	}
	&:outro{
		opacity:0;
	}
	HotbarButton{

		width: 75px;
		height:75px;
		position:absolute;
		top:10px;
		border-radius: 5px;
		//left:10px;
		background-color: rgba(0, 0, 0, 0.95);
		transition:all .25s ease-out;
		&:hover{
			cursor:hand;
			border-width: 2px;
			box-shadow: 0px 4px 15px 5px #0f87ff3b;
			border-color:rgb(0, 119, 255) ;
		}
		HotbarIcon{	
			margin-left:50%;
			margin-top:50%;
			

			transform:   translateX(-22px) translateY(-25px);

			background-repeat: no-repeat;
		
			background-position: center;
			width:50px;
			height:50px;
			background-size: cover;
			position:absolute;
			&.buttonhovered{
			background-image-tint:rgb(0, 81, 255);
			}
		}
		&:intro{
			top:-100px;
			opacity: 0;

		}
		&:outro{
			top:-100px;
			opacity: 0;
		}

	}
	

	.logout{
		left:10px;
		HotbarIcon{
			background-image: url('/ui/logout.png');
			transform: rotateY(180deg)translateX(-25px) translateY(-21px);

		}

	}

	.inventory{
		left:95px;
		HotbarIcon{
			background-image: url("/ui/inventory.png");
		}
	}
	.organizations{
		left:180px;
		HotbarIcon{
			background-image: url("/ui/organization.png");
		}
	}
	
}

CharacterSelectPage{

	width:100%;
	pointer-events:all;
	height:100%;
	//background-image: url("/ui/endless-clouds.png");
	//background:radial-gradient(rgb(19, 19, 19)0%, #000000 100%);
	//background:radial-gradient(rgb(0, 131, 253) 0%, rgb(14, 14, 14)20%);
	background-color: rgb(14, 14, 14);
	z-index:0;
	transition: all .5s ease-out; 
	
	pattern{
		width:100%;
		height:100%;
		background-image: url("/ui/endless-clouds.png");
		z-index:1;
		transition: all .5s ease-out; 
	}
	sboxlogo{
		bottom:10px;
		left:10px;
		background-image: url("ui/sboxlogo.png");
		width:64px;
		height:34px;
		position:absolute;
		background-size:64px 35px;
		background-repeat: no-repeat;
		z-index:2;
		transition: all .5s ease-out; 
		
	}
	terryrplogo{
		position: absolute;
		max-width:270px; 
		max-height:80px;
		top: 0px;
		left:-130px;
		
		background-image: url("/ui/terryrp2.png");
		background-repeat:no-repeat;
		//background-size: 270px 80px;
		background-size:cover;
		margin-left:50%;
		margin-top:10%;
		z-index:2;
		transition: all .5s ease-out; 
	}
	&:outro{
		opacity:0;
		transform: scale(2);
	}


}
characterpanel{
min-width: 200px;
	min-height:320px;
	max-width:200px;
	max-height:320px;
	width:200px;
	height:320px;
	//left:50%;
	//transform:translateX(-100px);
	border-radius:20px;
	background-color:rgba(255, 255, 255, 0);
	position:absolute;

	top:40%;
	//left:200px;
	margin-left: 50%;
	transform: translateX(-100px);
	backdrop-filter: blur(4px);
	
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	z-index:2;
	transition: all .25s ease-out; 

	&:hover{
		border-color: rgb(0,132,255); 
		box-shadow: 0px 4px 15px 5px #0f87ff04;

		cursor:hand;

	}
	justify-content: center;
	Label{
		font-family: Questrial;
		font-size:20px;
		color: rgb(185, 185, 185);
		position:absolute;
	}
	.balancelabel{
		color: rgba(0, 136, 0, 0.582);
		left:40px;
		bottom:40px;
		font-size:18px;
	}
	.levellabel{
		color: goldenrod;
		left:153px;
		bottom:40px;
		font-size:18px;
	}
	.levelicon{
		background-image-tint: rgb(255, 166, 0);
		bottom:35px;
		left:160px;
		background-image: url('/ui/level.png');
		background-repeat: no-repeat;

		background-position: center;
		width:30px;
		height:30px;
		background-size: cover;
		position:absolute;
	}
	.balanceicon{
	bottom:38px;
	left:10px;
	
	background-image: url('/ui/cash.png') ;
	background-repeat: no-repeat;

	background-position: center;
	width:30px;
	height:30px;
	background-size: cover;


	position: absolute;
	}
	.Namelabel{
		bottom:10px;
	}
	
}

newcharacter{

	min-width: 200px;
	min-height:320px;
	max-width:200px;
	max-height:320px;
	width:200px;
	height:320px;
	//left:50%;
	//transform:translateX(-100px);
	border-radius:20px;
	background-color:rgba(255, 255, 255, 0);
	position:absolute;

	top:40%;
	//left:200px;
	margin-left: 50%;
	transform: translateX(-100px);
	backdrop-filter: blur(4px);
	
	border-color: rgb(255, 255, 255);
	border-width: 1px;
	z-index:2;
	transition: all .25s ease-out; 
	&.focused{
		border-color:rgb(0,132,255); 
		box-shadow: 0px 4px 15px 5px #0f87ff04;
	
	}
	&:hover{
		border-color: rgb(0,132,255); 
		box-shadow: 0px 4px 15px 5px #0f87ff04;
		cursor:hand;

	}
	addicon{
		background-image:url("/ui/plusc.png");
		background-size:cover;
		position:absolute;
		
		width: 100px;
		height:100px;
		top:110px;
		left:50px;
		//transform: translateX(-50px);
		
		//transform: scale(1);
		transition: all .25s ease-out;
		
		&.buttonhovered{
			background-image-tint: rgb(0, 81, 255);
			top: 100px;
		
		}
		&:intro{
			top:0px;
			opacity:0;
		}
		&:outro{
			top:0px;
			opacity: 0;
		}
	}
	newcharacterform{
		width:200px;
		height:320px;
		background-color:rgba(255, 255, 255, 0);
		position: absolute;
		top:0px;
		left:0px;
		border-radius: 20px;
		justify-content: center;
		Button{color:white;

			background:linear-gradient( rgba(0,81,255,1) 0%, rgb(126, 0, 135) 100%, rgba(255,0,0,1) 100%);
			bottom:10px;
			width:180px; 
			height: 40px;
			position: absolute;
			border-radius: 5px 5px 10px 10px;
			font-family:Questrial;
			font-size:15px;
			padding-top:15px;
			justify-content: center;
			opacity: .01;
			box-shadow: 0px 4px 15px 5px rgba(147, 15, 255, 0.048);
			transition: all .25s ease-out;
			&.characterready{
				opacity:1;
				cursor: hand;
			}
			&:hover{
				
				bottom:15px;
			
				
			}

		}

		Label.fnlabel{
			top:30px;
			position:absolute;
			background-color:rgb(0, 81, 255);
			//top:20px;
			height:20px;
			width:180px;
			color:rgb(255, 255, 255);
			border-radius: 5px 5px 0px 0px;
			padding-left:3px;
			padding-top:4px;
			font-family:Questrial;
		}
		Label.lnlabel{
			top: 130px;
			position:absolute;
			background-color:rgb(0, 81, 255);
			//top:20px;
			height:20px;
			width:180px;
			color:rgb(255, 255, 255);
			border-radius: 5px 5px 0px 0px;
			padding-left:3px;
			padding-top:4px;
			font-family:Questrial;
		}
		
		TextEntry{
			position:absolute;
			color: rgb(200, 200, 200);
			font-family: Questrial;
			font-size:15px;
			
			width: 180px;
			height: 40px;
			background-color: rgba(0, 0, 0, 0.123);
			border-radius: 0px 0px 5px 5px;
			//border-color:rgb(0, 81, 255);
			border-width:1px;
			padding-top:12px;
			padding-left:3px;
			padding-right:3px;
			overflow:hidden;
			
		

		}
		.firstname{
			
			top:50px;
		}
		.lastname{
			top:150px;
			
		}



	}

}


Status
{

	width:300px;
	//height: 180px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.95);
	border-radius: 5px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	//transform: translate(0px, 0px);

	backdrop-filter: blur(30px) saturate(180%);
	


	// When the element is created make it expand from nothing.
	//&:intro {
	//	transform: scale( 0 );
	transition: left .25s ease-out; 

	//}
	&:intro{
		left: -330px;
		}
	

	&:outro{
		left: -330px;
		}
	


}

Healthbase{
	border-radius: 0px 0px 0px 5px;
	width: 200px;
	height: 15px;
	background-color: rgba(236, 0, 0, 0.068);
	position: absolute;
	left: 0px;
	bottom: 0px;



}
Health{
	border-radius: 0px 0px 0px 5px;
	width: 200px;
	height: 15px;
	background-color: rgba(236, 0, 0, 0.308);
	position: absolute;
	left: 0px;
	bottom: 0px;


}
Armorbase{
	bottom:0px;
	right:0px;
	border-radius: 0px 0px 5px 0px;
	width: 100px;
	height: 15px;
	background-color: rgba(0, 110, 236, 0.068);
	position: absolute;




}
Armor{
	bottom:0px;
	right:0px;
	border-radius: 0px 0px 5px 0px;
	width: 100px;
	height: 15px;
	background-color: rgba(0, 110, 236, 0.068);
	position: absolute;



}
Cash{

	bottom: 11px;
	right:66px;
	background-image: url('/ui/cash.png') ;
	background-repeat: no-repeat;

	background-position: center;
	width:30px;
	height:30px;
	background-size: 30px;

	background-size:fill;
	position: absolute;

}
Balance{
	color: rgba(0, 136, 0, 0.582);
	left:235px;
	bottom:15px;
	font-size:14px;
	font-weight:bold;
	position: absolute;
	font-family: Questrial;
	font-weight: Regular;
	font-style: Empty;


}
IDicon{
	background-image:url("/ui/ID.png");
	width:30px;
	height:30px;
	background-size:cover;
	bottom: 13px;
	left:8px;
	background-repeat: no-repeat;
	background-position:center;
	position:absolute;




}
ID{
	color: rgba(255, 255, 255, 0.89);
	left:40px;
	bottom:15px;
	font-size:14px;
	font-weight:bold;
	position: absolute;
	font-family: Questrial;
	font-weight: Regular;
	font-style: Empty;


}


Notification{
	width:300px;
	flex-wrap: wrap;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.95);
	border-radius: 5px;
	position: absolute;
	right: 10px;
	bottom:10px;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(30px) saturate(180%);
	transition: all .25s ease-out; 
	

	&:intro{
		opacity: 0;

		transform: scale(0);
		right:-200px;
		}
	

	&:outro{
		opacity: 0;
		transform: scale(0);
		right:-200px;
		}
	
}
NotificationInfo{
	color: rgba(255, 255, 255, 0.89);
	top:10px;
	font-size:14px;
	font-weight:bold;
	position: absolute;
	font-family: Questrial;
	font-weight: Regular;
	font-style: Empty;
	margin-left: 50px;
	left:-10px;
}
NotificationTime{
	border-radius: 0px 0px 5px 5px;

	width: 300px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.767);
	position: absolute;
	left: 0px;
	bottom: 0px;

}
NotificationIcon{
	top:10px;
	left:8px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	width:25px;
	height:25px;
	//background-size: 25px;
	

	position: absolute;
}
RPChat{
	bottom: 70px;
	left: 10px;
	

	.TextEntry{
		width:fit-content;
		height: 20px;
		min-width: 300;
		padding-left:10px;
		padding-right:10px;
		margin-left:50px;
		color:white;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 5px;
		position: absolute;
		backdrop-filter: blur(0px);
		bottom:0px;
		right:-300px;
		transition: all .25s ease-out; 
		white-space: nowrap;
		
		overflow:hidden;
		text-align: left;


	.placeholder
	{
		opacity: 0.2;
		position: absolute;
		pointer-events: none;
		padding: 10px;
		overflow:hidden;
	}

	}
	.chat_canvas{

	width:300px;
	flex-wrap: wrap;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.95);
	border-radius: 5px;
	position: absolute;
	bottom:0px;
	backdrop-filter: blur(30px) saturate(180%);
	transition: all .25s ease-out; 
	overflow:hidden;
	}
	
}
rpnametag{
	//width:100%;
	
	//height: 100%;
	//background-color: rgba(0, 0, 0,1);
	//border-radius: 5px;
	//position: absolute;
	//transform: translate(0px, 0px);
	//padding:auto;
	justify-content: center;
	align-content: center;
	transition: all .25s ease-out; 
	&:intro{
		opacity: 0;
		margin-top:50px;
		//right:-200px;
		
		}
	

	&:outro{
		opacity: 0;
		//transform: translateY(-100);
		//right:-200px;
		margin-top:50px;
		}
	

	rpnamebase{
	

	top:25%;
	
	width:250px;
	height: 50px;
	
	justify-content: center;
	background-color: rgba(0, 0, 0,.95);
	border-radius: 5px;
	position: absolute;
	backdrop-filter: blur(30px);
	transition: all .25s ease-out; 
		rpidentifiedpercent{
			border-radius: 0px 0px 5px 5px;

			//width: 250px;
			height: 3px;
			background-color: rgba(255, 255, 255, 0.767);
			position: absolute;
			left: 0px;
			bottom: 0px;
		}

		rpname{
			color: rgba(255, 255, 255, 0.89);

			font-size:20px;
			top:10px;
			font-weight:bold;
			position: absolute;
			font-family: Questrial;
			font-weight: Regular;
			font-style: Empty;
			transition: all .25s ease-out; 
			
	}	
	

}
}
